.table, div, h3 {
	margin-bottom: 20px;
}

body {
	width: 80%;
	margin: 20px auto;
}

.table td:nth-child(1) {
	white-space: nowrap;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}

li {
	display: inline;
}

li:after {
	content: ', ';
}

li:last-child:after {
	content: '';
}